html {
	/* Provide a baseline font size for rem units */
	font-size: 10px;

	/* A background image (partially clipped on 
	   smaller screens) */
	background: url(img/heaven.jpg);

	/* cover the screen with the background image */
	background-size: cover;
	}
	
body,html {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: sans-serif;
  }
  
  .keys {
	/* Use flex layout for all children, which are key divs */
	display: flex;

	/* On narrow screens, list the keys veritically */
	flex-direction: column;

	/* Require at least 100% of viewport height */
	min-height: 100vh;

	/* 
		On narrow screens the main flex axis is vertical. On
		wider screens main flex axis is horizontal. The
		align-items affects the cross axis direction.
		
		We'll just use a center alignment to place the keys
		center point of the cross axis.
	*/
	align-items: center;

	/*
		For narrow screens, its best if we start as close to the
		top as possible. 
	*/
	justify-content: flex-start;
  }

.key {
	/* Put a solid black border around each key */
	border:.4rem solid black;

	/* Put some slightly rounded corners on each key */
	border-radius:.5rem;

	/* Small margin on small screens */
	margin: 0.25rem;

	/* Create font size that is 1.5 times larger than the root
	   font size */
	font-size:1.5rem;

	/* Add a bit of padding around each key */
	padding:1rem .5rem;

	/* A short transition time when a class is applied
	   by the javascript (ie. when the keyboard key is pressed)
	   In this case, the .playing class will be added. */
	transition:all 0.07s ease;

	/* Fix the width of the key */
	width:7rem;

	/* Center the text in each key */
	text-align:center;

	color:white;

	/* A black background with plenty of transparency to see 
	   the background image */
	background:rgba(0,0,0,0.4);

	/* Create a slight text shadow without any offsets */
	text-shadow:0 0 .5rem black;
}

/* This style will be applied by the javascript to each key
   when the key is pressed */
.playing {
	transform:scale(1.1);
	border-color:#ffc600;
	box-shadow:0 0 1rem #ffc600;
}

/* A selector for each kbd tag */
kbd {
	/* Put a new line after each letter */
	display: block;

	/* A nice big font size for the letter */
	font-size: 2rem;
}

/* This class is used for the sound text in each key block */
.sound-text {
	font-size: 1.2rem;
	text-transform: uppercase;

	/* Add a bit more spacing between letters */
	letter-spacing: .1rem;

	/* Yellow font for sound text */
	color: #ffc600;
}

@media all and (min-width: 768px) {
  html {
		/* The full background image */
		background: url(img/heaven.jpg) bottom center;
	}

	.keys {
		/* On wider screens use a row layout */
		flex-direction: row;

		/* Center main-axis justification looks better when 
		   possible */
		justify-content: center;
	}

	.key {
		/* Add some spacing between each key (as mentioned above) */
		margin:1rem;
		
		/* Fix the width of the key */
		width:10rem;
	}

	/* Use a nice large font for wide screens */
	kbd {
		font-size: 4rem;
	}
}